@import url('https://fonts.cdnfonts.com/css/harry-potter');

.hp-font{
    font-family: 'Harry Potter', sans-serif;
}

                            /* CUSTOM BOOTSTRAP PROPIERTIES */

/* CUSTOM MARGIN */
.mt-6{
    margin-top: 5rem;
}

.mt-7{
    margin-top: 7rem;
}

.mx-7{
    margin-left: 7rem;
    margin-right: 7rem;
}



/* CUSTOM PADDING */
.px-6{
    padding-left: 5rem;
    padding-right: 5rem;
}


                            /* ESTILOS PROPIOS PÁGINAS */

/* ESTILO proyectoQuiz_inicio */
#title_HP{
    font-size: 200%;
    color: #efb810;
    font-weight: bolder;
}

#subtitle_HP{
    font-size: 100%;
    color: #D4AF37;
    font-weight: bolder;
    text-align: center;
}


/* ESTILO proyectoQuiz_logeado */
.color_HP{
    font-size: 120%;
    color: #efb810;
    font-weight: bolder;
}



/* ESTILO proyectoQuiz_ranking */
/* #bddac9  */
.bg-ranking{
    background-color: rgb(234, 234, 233);
}

.badge-auror {
    background-color: #d6f0e0;
    color: #0d6832;
}

.badge-wizard {
    background-color: #dfe7f6;
    color: #2c58a0;
}

.badge-troll {
    background-color: #fbf0da;
    color: #73510d;
}

.badge-muggle {
    background-color: #f9c0c0;
    color: #73140d;
}


